<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GirisPaneli.Properties.Settings.OrnekConnectionString"
            connectionString="Data Source=LAPTOP-JC99FFNO\SQLEXPRESS02;Initial Catalog=Ornek;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GirisPaneli.Properties.Settings.OgrenciKayitConnectionString"
            connectionString="Data Source=LAPTOP-OKGNCDIO\SQLEXPRESS;Initial Catalog=OgrenciKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>